<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8" />
<script src="../../js/qr/qrcode.js"></script>
<style>
#pic {
	float: left;
	width: 920px;
	margin: 0 10px;
}

#pic ul {
	margin: 15px 0;
	white-space: nowrap;
	width: 920px;
	overflow: hidden;
}

#pic li {
	float: left;
	width: 90px;
	margin: 0 5px;
	clear: right;
	border: 1px solid #B7DEEF;
	text-align: center;
	display: inline-block
}

#pic li img {
	max-width: 90px;
	max-height: 90px;
	vertical-align: middle;
}
</style>
</head>
<body>
	<div id="pic">
		<ul>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/imgget1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
			<li>
				<img src="http://192.168.1.103/hibeans/web/images/temporary/car_t1.jpg" />
			</li>
		</ul>
	</div>
</body>
</html>