<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>图片拖放</title>
<link rel="stylesheet" href="../../css/drag/drag.css">
<script type="text/javascript" src="../../js/drag/drag.js"></script>
</head>
<body>
	<div>
		<div class="boxDiv" id="box1"></div>
		<div class="boxDiv" id="box2"></div>
	</div>
	<hr>
	<img id="img1" src="../../imgs/drag/tree1.png">
	<img id="img2" src="../../imgs/drag/tree2.png">
	<img id="img3" src="../../imgs/drag/tree3.png">
	<img id="img4" src="../../imgs/drag/tree4.png">
	<span id="msg"></span>
</body>
</html>