<!DOCTYPE html>
<html lang="en">
<head>
<title>DEMO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Meicai">
<link href="../../css/odms/style.css" rel="stylesheet">
<link href="../../css/odms/index.css" rel="stylesheet">
<link href="../../css/odms/SimpleTree.css" rel="stylesheet">
<link href="../../css/odms/odms.css" rel="stylesheet">
<link href="../../css/odms/manage.css" rel="stylesheet">
<style>
.T-Odms-info tbody td {
	width: auto;
}

.T-PAuth-table tr {
	height: auto;
}

.T-PAuth-table .T-PAuth-owner {
	width: 15%;
}

.T-PAuth-table .T-PAuth-range {
	width: 85%;
}

.T-PAuth-table span {
	cursor: pointer;
}

.T-PAuth-table .T-PAuth-range span {
	float: left;
	line-height: 20px;
	margin-top: 5px;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 0;
	border-radius: 15px;
	color: #1ec3c8;
	font-weight: normal;
	vertical-align: baseline;
}

.T-PAuth-table span.selected {
    font-weight: bold;
    font-size: 15px;
}
</style>
</head>
<body class="sticky-header">
	<section>
		<div class="main-content">
			<!-- 面包屑 start -->
			<div class="T-pag">
				<p>
					<a id="nav1" href="#">组织机构管理</a>
					&nbsp;&gt;&nbsp;
					<a id="nav2" href="#">DEMO</a>
					<span>
						崔佳宾
						<a href="/odms/logout">退出</a>
					</span>
				</p>
			</div>
			<!-- 面包屑 end -->
			<!-- body wrapper start -->
			<div class="list">
				<div class="st_tree"></div>
			</div>
			<div class="wrapper">
				<div class="T-list-group">
					<div class="T-Odms-info">
						<h2 class="T-column">
							<span id="nodeName">尚未选择</span>
							<input class="form-control hidden T-Disable" id="nodeUpper" placeholder="上级节点编号" onfocus="this.select()">
							<input class="form-control hidden T-Disable" id="nodeCode" placeholder="节点编号" onfocus="this.select()">
						</h2>
						<table class="T-Info-table">
							<tbody>
								<tr>
									<td class="T-Info-date">
										<span class="T-Info-key">专业：</span>
										<input class="form-control T-Info-value" id="nodePro" placeholder="请输入专业标签" onfocus="this.select()">
									</td>
									<td class="T-Info-upper">
										<span class="T-Info-key">职能：</span>
										<input class="form-control T-Info-value" id="nodeEia" placeholder="请输入职能标签" onfocus="this.select()">
									</td>
									<td class="T-Info-type">
										<span class="T-Info-key">业务：</span>
										<input class="form-control T-Info-value" id="nodeBus" placeholder="请输入业务标签" onfocus="this.select()">
									</td>
									<td class="T-Info-ower">
										<span class="T-Info-key">区域：</span>
										<input class="form-control T-Info-value" id="nodeReg" placeholder="请输入区域标签" onfocus="this.select()">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 管理权限 start -->
					<div class="T-Odms-list">
						<h2 class="T-column">
							<button type="button" class="btn btn-green" id="clearBtn" onfocus=this.blur()>恢复</button>
						</h2>
						<div class="T-Odms-table T-PAuth-table">
							<table>
								<thead>
									<tr>
										<td class="T-PAuth-owner">维度</td>
										<td class="T-PAuth-range">详情</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="T-PAuth-owner">
											<span class="dimenBtn" id="proBtn">专业</span>
										</td>
										<td class="T-PAuth-range" id="proArea"></td>
									</tr>
									<tr>
										<td class="T-PAuth-owner">
											<span class="dimenBtn" id="eiaBtn">职能</span>
										</td>
										<td class="T-PAuth-range" id="eiaArea"></td>
									</tr>
									<tr>
										<td class="T-PAuth-owner">
											<span class="dimenBtn" id="busBtn">业务</span>
										</td>
										<td class="T-PAuth-range" id="busArea"></td>
									</tr>
									<tr>
										<td class="T-PAuth-owner">
											<span class="dimenBtn" id="regBtn">区域</span>
										</td>
										<td class="T-PAuth-range" id="regArea"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 管理权限 end -->
				</div>
			</div>
		</div>
	</section>
	<script src="../../js/odms/jquery-1.10.2.min.js"></script>
	<script src="../../js/odms/SimpleTree.js"></script>
	<script src="../../js/odms/demo.js"></script>
</body>
</html>